<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>VIPilot</title>
<link rel="stylesheet" href="/static/common.css">
</head>
<body>

{% set page_title = 'Информация' %}
{% set show_sidebar = false %}
{% include 'common/header.html' %}

<div class="container">

  {% from 'common/info_panel.html' import info_panel %}
  {{ info_panel('OPERATOR', 'Модуль оператора.', show_developer=False, app_version=app_version) }}

</div>

<script src="/static/js/controls/toast.js"></script>
<script src="/static/js/controls/tooltip.js"></script>
<script src="/static/js/controls/memo.js"></script>
<script src="/static/js/shell.js"></script>

</body>
</html>
